#titulo{
  margin-top: 8%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 1.9rem ;
  color: rgb(60,61,76);
  font-weight: 400;
}

.prodTextBanner h2{
  margin-top: 20%;
  margin-bottom: 3%;
  font-size: 2rem;
  font-weight: bold;
}

.banner{
  display:flex;
  
}

.lancamentoImg img {
    width: 49.4vw;
margin: auto

}

.prodTextBanner {
  text-align: center;
  font-size: 1.1rem;

}

.ctaProd{
  background-color: #1428A0;
  color:#ffffff;
  text-transform: uppercase;
  border-radius: 3.5px;
  border:none;
  box-shadow: 3px 3px 10px rgba(0,0,0, 0.363);
  width:200px;
  height:10%;
  margin-top: 5%;
}

.ctaProd:hover{
  background-color: #ffffff;
  cursor:pointer;
  color:#1428A0;
  font-weight: 500;
  transition: all 0.3s ease;
}

/*Carrossel de Produtos*/

#vitrine-title{
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 1%;
  font-size: 1.6rem;
  font-weight: bold;
}

.item{
  margin-left: 2%;
  width: 250px;
  border: 1px solid #c4c4c4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.prod-description{
  text-align: center;
  padding: 1px;
  font-weight: bold;
}
.is-price,.was-price{
  text-align: center;
  padding-top: 2%;
}
.was-price del{
  text-decoration: line-through;
}

.addCart{
  background-color: #1428A0;
  color:#ffffff;
  border-radius: 4.5px;
  border:none;
  box-shadow: 2px 2px 10px rgba(0,0,0, 0.363);
  width:70%;
  height:40px;
  margin: 12px 0 8px 0;
}

.addCart:hover{
  background-color: #ffffff;
  cursor:pointer;
  color:#1428A0;
  font-weight: 500;
  transition: all 0.3s ease;
}
